<div class="page-header">
  <h1>About</h1>
</div>

<p>
  LibEdMe was made possible by the following cool things:
</p>
<ul>
    <li ng-repeat="thing in awesomeThings">{{ thing }}</li>
</ul>

<h3>Questions that someone will eventually ask me</h3>

<h4>Max, why is this running on Node &amp; Heroku if it's just a frontend app? Why isn't this just a static site on GitHub Pages or made with Middleman or something?</h4>
<p>
    Maybe I'll want to cache results?<br />
    Maybe I'll want to add some features on top of the ASR API?<br />
    Maybe I'll want to provide suggestions based on what other people have chosen?<br />
    Maybe all of these things?<br />
</p>
